/*------------------------------------------------*/
/*-------------------Youngs App-------------------*/
/*-----------------Offer Styling------------------*/
/*------------------------------------------------*/

/*------------------------------------------------*/
/*------------------Minimal Reset-----------------*/
/*------------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    clear: both;
}

/*------------------------------------------------*/
/*------------------------------------------------*/
/*----------------Component Styling---------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/

body{
    font-family: "DeltaLight", sans-serif;
    font-size: 16px;
}

.wrapper{
    width: 100%;
    min-height: 100vh;
    display: block;
    position: relative;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 5%;
    padding-right: 5%;
}

header{
    width: 100%;
    display: block;
    position: relative;
}

header img{
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 15px;
}

.tile_outer{
    width: 100%;
    height: 180px;
    display: block;
    position: relative;
    margin-bottom: 15px;
    transition: all ease-in 0.5;
    outline: none;
}

.tile_front, .tile_back{
    width: 100%;
    height: 180px;
    display: block;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

.tile_front img{
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tile_back{
    height: auto;
    display: none;
    padding: 20px;
    overflow: hidden;
}

.tile_title{
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 2px;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.tile_sub_title{
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}

.tile_text{
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 0.8rem;
    text-align: left;
}

.tile_text p{
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.tile_button{
    width: 80%;
    display: block;
    position: relative;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "DeltaMedium", sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}

.tile_button:active{
    color: inherit;
}

.tile_button:visited{
    color: inherit;
}

.tile_footer{
    width: 100%;
    display: block;
    position: relative;
    font-family: inherit;
    font-size: 0.8rem;
    text-align: left;
}

.tile_footer p{
    margin-bottom: 10px;
}

#happy_hour_container{
    width: 100%;
    height: 625px;
    display: block;
    position: relative;
    border: 0px solid transparent;
    overflow: hidden;
}

@media screen and (min-width: 500px){
    .wrapper{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    header img{
        margin-bottom: 10px;
    }
    .tile_outer{
        height: 230px;
        margin-bottom: 10px;
    }
    
    .tile_front{
        height: 230px;
    }
}

@media screen and (max-width: 500px){
    header img{
        margin-bottom: 10px;
    }
    .tile_outer{
        height: 190px;
        margin-bottom: 10px;
    }
    
    .tile_front{
        height: 190px;
    }
}

@media screen and (max-width: 400px){
    header img{
        margin-bottom: 10px;
    }
    .tile_outer{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 350px){
    header img{
        margin-bottom: 10px;
    }
    .tile_outer{
        height: 150px;
        margin-bottom: 10px;
    }
    
    .tile_front{
        height: 150px;
    }
}

/*------------------------------------------------*/
/*------------------------------------------------*/
/*------------------Brand Styling-----------------*/
/*------------------------------------------------*/
/*------------------------------------------------*/
